*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 184, 196);
}
.accordion{
    width: 70vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
}
.question{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition:max-height 0.2s ;
    text-align: center;
}
.icon{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
}
.active{
    transform: rotate(180deg);
    transition: transform 0.2s;
}